---
	import '@fontsource-variable/inter';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Projects with HTML, CSS & JavaScript | ROMZ</title>
	</head>
	<body>
		<div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"><div class="absolute inset-0 bg-[radial-gradient(circle_30vw_at_25%_100px,#ff999980,transparent)]"></div><div class="absolute inset-0 bg-[radial-gradient(circle_30vw_at_50%_100px,#7dd3d880,transparent)]"></div><div class="absolute inset-0 bg-[radial-gradient(circle_30vw_at_75%_100px,#fff2a890,transparent)]"></div></div>
		<main class="pt-12 min-h-screen flex gap-y-20 flex-col justify-between px-8 relative">
			<slot />
		</main>
	</body>
</html>


<style is:global>
	@import "tailwindcss";

@theme {
  --color-javascript: rgb(247 223 30);
  --color-css: rgb(38 77 228);
  --color-html: rgb(227 76 38);
}

	body {
  font-family: 'Inter Variable', sans-serif;
}


	
</style>
