<footer class="flex place-content-center">
  <div class="container text-center mt-8 p-10">
    <div class="flex flex-col items-center">
      <div class="flex flex-col sm:flex-row items-center gap-3 sm:gap-1 mt-4 mb-4">
        <a href="https://www.romz.site" class="opacity-55 text-[0.8125rem]/6">
            Created by
            &lt;<span class="text-[#64c7e8] text-base m-0 p-0">ROMZ</span>&gt;
        </a>
      </div>
    </div>
  </div>
</footer>
