    <header class="flex justify-center flex-col max-w-7xl mx-auto items-center pt-12 ">
        <div class="relative z-10 mx-auto max-w-5xl text-center">
            <h1 class="mb-6 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
                Projects with <span class="text-html">HTML</span>, <span class="text-css">CSS</span> &{" "}
                <span class="text-javascript">JavaScript</span>    
            </h1>
            <p class="mx-auto max-w-2xl text-lg text-gray-600">
            A showcase of frontend development projects built with the core web technologies. These examples to
            see how HTML structure, CSS styling, and JavaScript interactivity.
          </p>
        </div>
    </header>